.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.gallery-item{
    width: 360px;
    height: 200px;
}
.gallery-image{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
